# =======================
# Configurations générales
# =======================
ENV_NAME = "local" # peut être "local" or "<USERNAME>"

# =======================
# Configurations aws
# =======================
AWS_ACCESS_KEY_ID = votre_access_key
AWS_SECRET_ACCESS_KEY = votre_secret_access_key
AWS_REGION_NAME = votre_region
AWS_PROFILE = votre_profil

# =======================
# Configurations DB
# =======================
DYNAMO_TABLE = nom_de_votre_table

# =======================
# Clé APi
# =======================
MISTRAL_API_KEY = votre_cle_api
TELEGRAM_BOT_TOKEN = votre_token_bot

# =======================
# Autres
# =======================
TELEGRAM_WEBHOOK_URL = url_de_votre_webhook
TELEGRAM_WEBHOOK_PATH = "/telegram/webhook" 